.footer {
  color: #212529 !important;

  text-align: center !important;

  font-size: medium !important;

  font-weight: 400 !important;

  height: auto !important;

  background-color: white !important;
}
