.header {
  background-color: #212529 !important;
  color: white !important;
}

.mand {
  color: white;
  padding: 10px;
  background-color: #212529;
}

.body {
  background-color: #212529;
  color: white;
}

.white {
  color: white;
}
